@section PageHeader {
    <div>
        <div class="topbar-title">FastQ Admin Menu</div>
        <div class="topbar-sub">
            Manage User Accounts, Queue Configurations and Holiday Schedule.
        </div>
    </div>
}
<div class="grid-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Queue Settings</h5>
            <p class="card-text">Add and manage queue configuration, schedules and services.</p>
            <a href="/Queue" class="btn secondary">Manage Queue Settings</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Accounts</h5>
            <p class="card-text">Add, Update and Delete users and their permissions.</p>
            <a href="/User" class="btn secondary">Manage User Accounts</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Holidays</h5>
            <p class="card-text">Manage official County holidays.</p>
            <a href="/Holiday" class="btn secondary">Manage Holidays</a>
        </div>
    </div>
</div>
