/* override default settings for FQ */
.dt-length {
    display: inline-flex;
}

.dt-length label {
    width: 85px;
}

div.dt-container select.dt-input {
    margin-right: 5px;
    max-height: 30px;
}

.dt-input {
    border-radius: 10px !important;
    height: 30px;
}