	<appSettings><!--For Env: PRD -->
		<!-- Polymorphic API related-->
		<add key="FTAPIV1BaseUrl" value="https://fasttrack.ocfl.net/ftapiv1/permits" />
		<add key="FTApiKeyPolymorphic" value="PrdrSIcytKw8Ue1FvUJsX0VAruGxg==" />
		<!-- FastQ External/Internet related-->
		<add key="AppointmentOnlineMeetingUrl" value="https://netapps.ocfl.net/FastQ/MeetingJoin.aspx?ConfCode="/>
		<add key="AppointmentLoginUrl" value="https://netapps.ocfl.net/FastQ/" />
	</appSettings>
