	<appSettings><!--For Env: DEV & Local -->
		<!-- Polymorphic API related-->
		<add key="FTAPIV1BaseUrl" value="https://owdala09/ftapiv1/permits" />
		<add key="FTApiKeyPolymorphic" value="Gm22nJNIsiXkWI4bvai$XGoIzcw==" />
		<!-- FastQ External/Internet related-->
		<add key="AppointmentOnlineMeetingUrl" value="https://interdotnetdv/FastQ/MeetingJoin.aspx?ConfCode="/>
		<add key="AppointmentLoginUrl" value="https://interdotnetdv/FastQ/" />
		<!-- WebEx related-->
		<add key="WebexApiBaseUrl" value="https://webexapis.com/v1/meetings/" />
		<add key="WebexApiRefreshUrl" value="https://webexapis.com/v1/access_token" />
		<!-- Webex Clientid from: ServiceApp info-->		
		<add key="WebexClientid" value="C38a470a5639553bb7b6c928c88c6232dcfb388ccfc311422eaff71ca2a66fd77" />
		<!-- Webex Secretid from: ServiceApp info-->
		<add key="WebexSecretid" value="11ed003cbcd8ddd7156b2125c5e39e768623b7836dbbf22b73427eba1aa8c3a9" />
		<!-- Webex Tokens -->
		<add key="WebexAccesstoken" value="YzU5NzU0ZmUtZDc2ZC00ODZhLTgyMzgtYzgzNjMyNjg3Yjc1MmIwOTVhOGYtM2E4_P0A1_33e5325a-3725-48cb-a8a7-ca1d40f4b084" />
		<add key="WebexRefreshtoken" value="NTZmMDE0YWMtZDgyNC00OTgxLTk1M2UtMTBmYWVlODQ5Njc2YWNhMGRkZGMtYWQz_P0A1_33e5325a-3725-48cb-a8a7-ca1d40f4b084" />
	</appSettings>
