	<appSettings><!--For Env: DEV & Local -->
		<!-- Polymorphic API related-->
		<add key="FTAPIV1BaseUrl" value="https://owdala09/ftapiv1/permits" />
		<add key="FTApiKeyPolymorphic" value="Gm22nJNIsiXkWI4bvai$XGoIzcw==" />
		<add key="AmandaPermitProxyUrl" value="https://owdala04/backoffice/core/customize/OCCustom/Amanda7Proxy.zul" />
		<!-- FastQ External/Internet related-->
		<add key="AppointmentOnlineMeetingUrl" value="https://interdotnetdv/FastQ/MeetingJoin.aspx?ConfCode="/>
		<add key="AppointmentLoginUrl" value="https://interdotnetdv/FastQ/" />
	</appSettings>
