<connectionStrings configProtectionProvider="CustomProvider">
	<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
		<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
		<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
			<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
				<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
				<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
					<KeyName>Rsa Key</KeyName>
				</KeyInfo>
				<CipherData>
					<CipherValue>AOg/86NkoatV4+u+GF6P3Cs8HudM71IAsDKPnd4/1CIpzHkymFg3drbRazse0bAWAHNY4MMOUpNkNpsb3LXVKCuBAakRiddfZ0La+yVYTq++WAUGyjuCCJODsG59uXO/3ADFcpUXS9u6AbUKWs3DZ2Dxe3TT08Z6hxy3ZeGFjQs=</CipherValue>
				</CipherData>
			</EncryptedKey>
		</KeyInfo>
		<CipherData>
			<CipherValue>X16lOhIBLnoaVMO62z2Q6GUZ0ELMRkEhRsbx9ifEgjrrXLvrACL/1Etzxq0ZTJvvan0f9C+CooNKq3nPJ4g2T5j+jsAvuLaS+3BnMyTMylPLCrjJvhl0cuWhxGJt0Bu33dTujDp0SXxz2hcvm9WuD2tzvbIyuWgp9vHRu9tS0TWj8lVdehvsc3kyzNhGfq1ZwQ4AExgnjT3ZlH7vap+dOEAbLE9UIM0e/zfm6pH4evEahJzfdXAW4XivmZ2lUql6khLW/o0KrCXUA4aJzPeykNi1mMasrv9s0QjkzEkbtv7rrYpavk2BNJSn+QGaiTWQYVwOAOewTVUsXUoheFovImpqi1mpVO99Wyp0ZYZhB1fbtanEekZzSKJhnB0m0pH5wsBRAD9Oj3h9SNFhCSkVfw==</CipherValue>
		</CipherData>
	</EncryptedData>
</connectionStrings>