<connectionStrings configProtectionProvider="CustomProvider">
	<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
		<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
		<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
			<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
				<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
				<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
					<KeyName>Rsa Key</KeyName>
				</KeyInfo>
				<CipherData>
					<CipherValue>hVxvDtyRrRAwl4tY5zXRO0DYXd8H7IIYQNNVjJNMEkm8e1IopzfPGNtH4PxayHiy3uFPWQInPaRcyrWlm4CagMM+YHBOCaOqrCpDIVyKnXzYo3+pJlyhnFFLn877Z4hckQe0FPXVD0ghyKFbFV1uYHgeDo6mhSSwfnujbClwtK8=</CipherValue>
				</CipherData>
			</EncryptedKey>
		</KeyInfo>
		<CipherData>
			<CipherValue>EI1nJUye7vLg7bKDH7O/Ynz+0nXfwunXey5uppPdhBRX9QWPS5aJdny+Z03FvjO8lEz5p8ZR8+v5uQ6zVPasCILKUof8+9p0Isej0Vm2Lxflk0kx3gplNIYhNlsjRBq7aNgCa6LSoFrjJrul/tCft+kCfxyO05o+3F5chab4EkfvJ7+h4cfjSPNraMRncvgxMDw4HRA2B5Brbo0mrTnF8k2LHXLn4yVn6wA2Ao28DyxImgDwd1vFG9W+eb3fHQ6GEyULYFJApkKzP+IKvnYw1AiTVwfb/2oYygyyT/bvLk+b81yyQozvAXC02hu6FyRCZw5xti4ipMUoH94NhNXoesMia+Y2lrM08uwNLm7ig/X5oinY2iZEkJy3YAA00d6vMDOaz8pFKl9agsBPtPCdcA==</CipherValue>
		</CipherData>
	</EncryptedData>
</connectionStrings>