<connectionStrings configProtectionProvider="CustomProvider">
	<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
		xmlns="http://www.w3.org/2001/04/xmlenc#">
		<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
		<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
			<EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
				<EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
				<KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
					<KeyName>Rsa Key</KeyName>
				</KeyInfo>
				<CipherData>
					<CipherValue>qKX08URap9opNEtLfLhDlZ91N0IeZM87z56DmhdkMr3QSXV8NslmgGd1b2u+1LsEfTbkNC+KjvYxlGpiE0ja3jz+wquXkiL+WwMHiSIwpBRckq+xLkrAi0sVZb6+hFi+moQRBwqxR8h9ntxZM9PRxkJ9Fzk7v2fcsDGhgBP2wD8=</CipherValue>
				</CipherData>
			</EncryptedKey>
		</KeyInfo>
		<CipherData>
			<CipherValue>X59Q2rZVFcqQnUZKQCVEucpz2BF7JWgafRBoLqlECavWrGTphh5dw4wTRZJfD9hWqCZfwJnRtB3ZvZB6vW5UEG9C07Ecz3vWDGz3p4kKJ4I98ZHeBTthlcwnUB7Z6+N/QrWsevlQaGXY/jLIfm0hefheFqW7T67oLl+xsR4NLJa5qYptSvjmCxvZb/GwSIbXqoD5xgIGcOo40J2Wp8qSWdL5aSPVtmETsA2DJcJzQrY9z8fa5cmRmIaiAkxrWf2IxBIzZM515gV0GsqHTmjtreMsFH22SOoN8JM+YuY6XKAJx+R4SW/otjzuqMfZ+x/ZiQ7sPkVMUEXOaOY+BPMb2hVCMN2F4NrA5HfiQF8Eo1+oum0jKY1kyt4Gs7XcHxgVs7YBcEcU8m8LHNgx4XLqgg==</CipherValue>
		</CipherData>
	</EncryptedData>
</connectionStrings>