<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org"
      xmlns:xsi="http://www.w3.org"
      autoReload="true"
	  internalLogLevel="Info">
	<!--<variable name="logDirectory" value="C:\temp\logs\LogFiles\FastQ.Manager\"/>-->
	<variable name="logDirectory" value="D:\inetpub\logs\LogFiles\FastQ.Manager\"/>
	<targets async="true">
		<target name="fileTarget" xsi:type="File"
			fileName="${logDirectory}/${shortdate}_FastQ-app.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

		<target name="fileTargetSQL" xsi:type="File"
				fileName="${logDirectory}/${shortdate}_FastQ-sql.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>
	<rules>
		<logger name="SQL.*" minlevel="Trace" writeTo="fileTargetSQL" />
		<logger name="*" minlevel="Trace"  writeTo="fileTarget" />
	</rules>
</nlog>





