<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org"
      xmlns:xsi="http://www.w3.org"
      autoReload="true"
      internalLogFile="C:\Temp\WebApps\FastQ.Manager\Logs\nlog-internalSvc.log"
	  internalLogLevel="Info">
	<variable name="logDirectory" value="C:\Temp\WebApps\FastQ.Manager\Logs\"/>
	<targets async="true">
		<target name="fileTarget" xsi:type="File"
			fileName="${logDirectory}/${shortdate}_svc-app.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

		<target name="fileTargetSQL" xsi:type="File"
				fileName="${logDirectory}/${shortdate}_svc-sql.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>
	<rules>
		<logger name="SQL.*" minlevel="Trace" writeTo="fileTargetSQL" />
		<logger name="*" minlevel="Trace"  writeTo="fileTarget" />
	</rules>
</nlog>





